body                    { font-family: sans-serif; background: #eee; }
.active-user-none       { background: #d3d3d3; }
.active-user-gael       { background: #f00; }
.active-user-evie       { background: #ff0; }