{% extends "mod_chores/layout.html" %}

{% block body %}
    {% if session['active_user'] == 'admin' %}
        <form action="{{ url_for('chores.add_chore') }}" method="post">
            {{ chore_form.csrf_token }}
            {{ chore_form.title.label }}
            {{ chore_form.title(autocomplete="off") }}
            {{ chore_form.owner() }}
            <input type="submit" value="Agregar">
        </form>
        <ul class=admin-panel>
            <li><h3><a href="">Ver Historial</a></h3>
        </ul>
    {% endif %}
    <ul class=chores>
        {% for chore in chores %}
            <li><h2>{{ chore.title }} - {{ chore.owner|capitalize }}</h2>
            <form action="{{ url_for('chores.complete_chore') }}" method="post">
                <dd><input type="hidden" name="id" value="{{ chore.id }}">
                <dd><input type="submit" value="Completar">
            </form>
            {% if session['active_user'] == 'admin' %}
                <form action="{{ url_for('chores.delete_chore') }}" method="post">
                    <dd><input type="hidden" name="id" value="{{ chore.id }}">
                    <dd><input type="submit" value="Eliminar">
                </form>
            {% endif %}
        {% else %}
            <li><em>Muy bien! No hay tareas pendientes.</em>
        {% endfor %}
    </ul>
{% endblock %}